/* abstracts */
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

/* base */
@import "./styles/base/base";
@import "./styles/base/resets";

/* components */
@import "./styles/components/Button.scss";

/* global */
.primary-color {
  color: blueviolet;
}
